

.one{
    color: rgba(231, 11, 11, 0.922);
    font-size: x-larger;
    margin-left: 1.2cm;
    margin-top: 1cm;
}
.pss{
    
}
.box{
    position: relative;
    width: 450px;
    height: 600px;
     background: transparent;
     border: 0.1px solid rgba(70, 68, 68, 0.5);
     border-radius: 5px;
     backdrop-filter: blur(1px);
     position: center;
     background-color:  black:screen;
     backdrop-filter: screen(60%);
     font-family:Roboto;
    }
    .si{
        text-align: left;
       
    }
    .st{
       
        font-size: xx-large;
        color: white;
    }
.on{
    background-color: black;
    width: 8.5cm;
    height: 1.2cm;
    color: grey;
    border: 1px solid ;
    border-radius: 4px;
    position: left;
   font-size: medium;

}



.two{
    color: white;
    background-color: red;
    border-color: red;
    width: 8.5cm;
    height: 1.2cm;
    border-radius:4px;
   }
   .tw{
color:blanchedalmond;
 font-size: small;

   }
.use{
    background-color: grey;
    color: white;
    font-style:bold;
    width: 8.5cm;
    height: 1.2cm;
    border-radius:4px;
}
.rem{

    font-size: small;
    color: white
}



   .three{
    color: white;
   }
.four2{
margin-right: -0.5cm;
}
.four{
   margin-right: 2cm;
}
.four3{
    margin-right: -1.50cm;
    color: white;
}
header{
    position:end;
    top: 0;
   bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    background:black;
    display:contents;
    justify-content: space-between,space-between;
align-items: center;
z-index: 99;
}

.navigation a {
position: relative;
font-size: 1.1em;
color: white;
text-decoration: none;
font-weight: 500;
margin-left: 40px;
font-size: small;

}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background:black;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1cm;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    scrollbar-width: 0.9cm;

}
